# Python
**/__pycache__
*.pyc
*.pyo
*.pyd

# Temp files
temp/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Datasets samples
datasets/
vst_samples/
*.h5
*.npz
checkpoints/