defaults:
  - encoder: cnn
  - _self_

_target_: src.models.ksin_flow_matching_module.KSinFlowMatchingModule

scheduler: null

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 1e-4
  weight_decay: 0.0

vector_field:
  _target_: src.models.components.transformer.ApproxEquivTransformer
  projection:
    _target_: src.models.components.transformer.LearntProjectionII
    d_model: ${model.vector_field.d_model}
    num_params: ${mul:${data.k},2}
    num_tokens: ${data.k}
    assignment_type: linear
    sinkhorn_iters: 10
    sinkhorn_reg: 0.2
    filler_tokens: 0
    sym_init: true
    var_penalty: false
    initial_ffn: true
  num_layers: 5
  d_model: 128
  conditioning_dim: ${model.encoder.out_dim}
  num_heads: 4
  d_ff: 256
  dropout: 0.0
  num_tokens: ${model.vector_field.projection.num_tokens}
  learn_pe: false
  learn_projection: true
  pe_type: none
  pe_penalty: 0.0
  projection_penalty: 0.01
  norm: layer
  skip_first_norm: false

# training
cfg_dropout_rate: 0.2

p_time: uniform
w_time: none

coupling: uniform
oversample_ot: 1.0

probability_path: rectified

cfm_sigma: 0.0
fm_sigma: 0.0
rectified_sigma_min: 0.0

# sampling
sample_schedule: linear
validation_sample_steps: 50
validation_cfg_strength: 2.0
test_sample_steps: 200
test_cfg_strength: 2.0

# SYMMETRY DISCOVERY!
freeze_for_first_n_steps: 0

# compile model for faster training with pytorch 2.0
compile: false
