name: Docker Build

on:
  push:
    branches: [main, "dev/docker"]
  pull_request:
    branches: [main, "release/*", "dev", "dev/docker"]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: synth-permutations:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
