name: Tests

on:
  push:
    branches: [main, "dev/docker"]
  pull_request:
    branches: [main, "release/*", "dev", "dev/docker"]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Run tests with coverage
        run: uv run pytest -v --cov src

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
